ellipsis()
  overflow :hidden
  white-space :nowrap
  text-overflow: ellipsis;
hidden()
  overflow :hidden
marginRight($mar)
  margin-right:$mar
marginLeft($mar)
  margin-left:$mar
marginBottom($mar)
  margin-bottom:$mar
marginTop($mar)
  margin-top:$mar
paddingRight($mar)
  padding-right:$mar
paddingLeft($mar)
  padding-left:$mar
paddingBottom($mar)
  padding-bottom:$mar
paddingTop($mar)
  padding-top:$mar
boxSizing()
  box-sizing:border-box
borderRadius($mar)
  border-radius :$mar
round($mar)
  line-height:$mar
  width:$mar
  border-radius :50%

